body{
    background: linear-gradient(0deg, rgba(47,102,161,0.788953081232493) 0%, rgba(59,121,187,0.4108018207282913) 49%, rgba(47,102,161,0.8841911764705882) 100%);
    background-size: cover;
    height: 100%;
    color:  #FFF;
    font-family: 'Sirin Stencil', cursive;
}

/* .expand{
    height: 100vh;
} */
