.church-picture{
    width:60%;
}

.modal-content{
    background-color: #233E4C; 
    color:#FFF;
    font-family: 'Sirin Stencil', cursive;
}

.modal-content a{
    text-decoration: underline !important;
}

.close{
    color: #FFF;
}
.address-link{
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
}
.church-description{
    font-size:18px;
    font-family: "Open Sans";
}

.font-of-details{
    font-size: 22px;
}

.detail-link:hover{
    color: #FF8800 !important;
}

.detail-link{
    font-size: 22px;
    font-family: "Open Sans";
}

.subscribe-container{
    display: flex;
    flex-direction: column;
}

.want-to-subscribe-text{
    font-size: 20px;
    margin-bottom: .5rem;
    border-top: 1px solid #dee2e6;
}

.events{
    display: flex;
    background-color: #0b3f5b;
}

.event_address{
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.event-detail-div{
    flex-direction: column;
}


.event_title_date{
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: #FF8800;
}

.event_description{
    font-family: "Open Sans";
}


.event-list{
    flex-direction: column;
}

.event-list-title{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
