.create-profile-container{
    margin-top: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.profile-form{
    flex-direction: column;
    width: 90%;
    padding: 2rem;
    background-color: hsla(211, 23%, 15%, 0.9);
    font-size: 20px;
    border-radius: 60px
}

.form-title{
    color:  #FF8800;
    text-decoration: underline #FFF;
    text-decoration-style: wavy;
}

.Form-label{
    color:  #FF8800;

}

.form-group{
    flex-direction: column;
}

.preview-image{
    width:400px;
    margin-bottom: 1rem;
}

.form-control {
    font-size: 1.3rem;
}


 .no-underline{
    color:  #FF8800;
    text-decoration: none !important;
}
