.header{
    background-color:#ECEFDC;
}

.title{
    font-family: 'Sirin Stencil', cursive;
    color:#094862;
}
.navlink{
    color: #000;
    font-family: 'Sirin Stencil', cursive;
    color:#094862;

}
