

.title{
    font-family: 'Sirin Stencil', cursive;
    color: #FF8800;
    padding-left: 2.5rem;
}

.logout-link{
    background-color: none;
}

.nav-link{
    color:  rgb(255, 255, 255)!important;
    font-family: "Open Sans";
    display: flex;
    font-size: 20px !important;
}

.nav-link:hover{
    background-color: #FF8800;
    color: #FFF !important;
}

.navContainer {
    width:100%;
    display: flex;
    margin:auto;
    background-color: #233E4C;
    
}

.navbar-toggler{
    background-color: #7f91a4 !important;
}

@media(max-width: 991px){
    .navContainer{
        flex-direction: column;
    }
}
