
.filter-labels{
    font-size: 20px;
    color: #FF8800;

}

.filters{
    flex-direction: column;
}

.filters-div{
    width:100%;
    max-width: 1400px;
}

@media(max-width: 991px){
    .filters-div{
        flex-direction: column;
    }
}
