
.card{
    flex-direction: column;
    padding: 2rem;
    border: 1px solid #fff;
    background-color: hsla(211, 23%, 15%, 0.9);
    margin: auto;
    font-size: 20px;

}

.card:last-child{
    margin-bottom: 2rem;
}

.profile-li{
    flex-direction: column;
    width: 90%;
    margin: auto;
}



.profile_topic_section{
    font-weight: bold;
    color: #FF8800;
}

.list-group-item{
    font-family: 'Sirin Stencil', cursive;
    color: #FFF;
    background-color:inherit;
    border: none;

}

.card-img-top{
    width:23rem;
}

.profile-list{
    flex-direction: column;
}

.church-name{
    width: 90%;
    font-size: 26px;
    margin-top: 2rem;
    color: #FF8800;
    font-family: 'Sirin Stencil', cursive;
}

.event-header{
    font-size: 26px;
    color: #FF8800;
    border-bottom: none;
}

.event-item{
    border-bottom: 1px solid #FFF;
}
